.heading-tertiary {
  text-transform: capitalize;
  color: $color-grey-dark-2;
  margin-bottom: 2rem;
}
.paragraf {
  font-size: 1.4rem;
  line-height: 1.6;
  color: $color-grey-light-2;
  width: 80%;
}
.card_paragraph {
  font-size: 1.4rem;
  color: $color-grey-dark-2;
}
